openapi: 3.0.3
info:
  title: Skylight Calendar API
  description: |
    Unofficial reverse-engineered API for the Skylight Calendar device.

    ## Authentication

    Full OAuth 2.0 Authorization Code flow:

    1. `GET /auth/session/new` — fetch the login page; extract the CSRF token from
       `<meta name="csrf-token" content="...">`.
    2. `POST /auth/session` — submit credentials (form-encoded) with the CSRF token.
       Server responds 302 → `/auth/session/success`; the authorization code is
       issued as part of the resulting session.
    3. `POST /oauth/token` — exchange the authorization code for a Bearer token.
    4. All API calls use `Authorization: Bearer <access_token>`.

    Tokens expire in 7200 seconds. Use the `refresh_token` with
    `grant_type=refresh_token` at `POST /oauth/token` to renew without re-logging in.

    > Note: `api.ourskylight.com` does not resolve. `app.ourskylight.com` is the sole active host.
  version: 1.0.0

servers:
  - url: https://app.ourskylight.com
    description: Skylight API server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        OAuth 2.0 Bearer token obtained from `POST /oauth/token`.
        Required companion header: `User-Agent: SkylightMobile (web)`

  schemas:
    OAuthTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          enum: [Bearer]
        expires_in:
          type: integer
          description: Lifetime in seconds (7200)
        refresh_token:
          type: string
        scope:
          type: string
        created_at:
          type: integer
          description: Unix timestamp

    JsonApiAttributes:
      type: object
      additionalProperties: true

    JsonApiResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/JsonApiAttributes'
        relationships:
          type: object
          additionalProperties: true

    JsonApiListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'
        meta:
          type: object
          additionalProperties: true

    JsonApiSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/JsonApiResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResource'

    UserAttributes:
      type: object
      properties:
        subscription_status:
          type: string
        trial_days_remaining:
          type: integer
          nullable: true
        profile:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            birthday:
              type: string
              nullable: true
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
        agreed_to_marketing:
          type: boolean
        phone:
          type: string
          nullable: true
        trial_expires_at:
          type: string
          format: date-time
          nullable: true
        notification_preference:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        plus_billing_provider:
          type: string
          nullable: true
        birthday:
          type: string
          nullable: true
        was_plus_purchaser:
          type: boolean
        dunning_since:
          type: string
          nullable: true
        dunning_since_date:
          type: string
          nullable: true
        email:
          type: string

    FrameAttributes:
      type: object
      properties:
        name:
          type: string
        open_to_public:
          type: boolean
        message_viewability:
          type: string
        apps:
          type: array
          items:
            type: string
        timezone:
          type: string
        destroyed_at:
          type: string
          format: date-time
          nullable: true
        household_name:
          type: string
          nullable: true
        brightness:
          type: integer
        slideshow_speed:
          type: integer
        slideshow_style:
          type: integer
        sleeps_at:
          type: string
          description: Time string (HH:MM)
        wakes_at:
          type: string
          description: Time string (HH:MM)
        currently_sleeping:
          type: boolean
        sleep_mode_on:
          type: boolean
        start_sound:
          type: boolean
        show_caption:
          type: boolean
        show_heart:
          type: boolean
        blur_effect:
          type: boolean
        current_album_id:
          type: integer
        side_by_side:
          type: boolean
        notification_email:
          type: string
          nullable: true
        gift_status:
          type: string
        mine:
          type: boolean
        plus:
          type: boolean
        trialing:
          type: boolean
        trial_expires_at:
          type: string
          format: date-time
          nullable: true
        user_created_at:
          type: string
          format: date-time
        access:
          type: string
        feature_bundle:
          type: object
          additionalProperties: true

    DeviceAttributes:
      type: object
      properties:
        name:
          type: string
        timezone:
          type: string
        activated:
          type: boolean
        category_id:
          type: string
          nullable: true
        role:
          type: string
        brightness:
          type: integer
        slideshow_speed:
          type: integer
        slideshow_style:
          type: integer
        start_sound:
          type: boolean
        show_caption:
          type: boolean
        show_heart:
          type: boolean
        blur_effect:
          type: boolean
        current_album_id:
          type: integer
        sleeps_at:
          type: string
        wakes_at:
          type: string
        currently_sleeping:
          type: boolean
        sleep_mode_on:
          type: boolean
        side_by_side:
          type: boolean
        sleep_mode:
          type: string
          nullable: true
        sleep_sound:
          type: string
          nullable: true
        sleep_sound_volume:
          type: integer
          nullable: true
        nightlight:
          type: boolean
        nightlight_brightness:
          type: integer
          nullable: true

    SourceCalendarAttributes:
      type: object
      properties:
        label:
          type: string
        source_id:
          type: string
        kind:
          type: string
        role:
          type: string
        default_for_new_events:
          type: boolean
        editable:
          type: boolean

    CalendarEventAttributes:
      type: object
      properties:
        uid:
          type: string
        summary:
          type: string
        invited_emails:
          type: array
          items:
            type: string
        status:
          type: string
        all_day:
          type: boolean
        timezone:
          type: string
          nullable: true
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        recurring:
          type: boolean
        recurring_config:
          type: object
          nullable: true
        rrule:
          type: string
          nullable: true
        master_event_id:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        lat:
          type: number
          nullable: true
        lng:
          type: number
          nullable: true
        source:
          type: string
        kind:
          type: string
        editable:
          type: boolean
        countdown_enabled:
          type: boolean
        owner_email:
          type: string
        calendar_id:
          type: string
        supports_notification_settings:
          type: boolean

    RewardAttributes:
      type: object
      properties:
        name:
          type: string
        emoji_icon:
          type: string
        description:
          type: string
          nullable: true
        point_value:
          type: number
        respawn_on_redemption:
          type: boolean
        redeemed_at:
          type: string
          format: date-time
          nullable: true

    ListItemAttributes:
      type: object
      properties:
        name:
          type: string
        checked:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateListItemRequest:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [type, attributes]
          properties:
            type:
              type: string
              enum: [list_items]
            attributes:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                checked:
                  type: boolean
                  default: false

    UpdateListItemRequest:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [type, id, attributes]
          properties:
            type:
              type: string
              enum: [list_items]
            id:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                checked:
                  type: boolean

    BulkDestroyRequest:
      type: object
      required: [ids]
      properties:
        ids:
          type: array
          items:
            type: string

    TaskBoxItemAttributes:
      type: object
      properties:
        summary:
          type: string
        emoji_icon:
          type: string
        routine:
          type: boolean
        reward_points:
          type: integer

    CreateTaskBoxItemRequest:
      type: object
      required: [summary]
      properties:
        summary:
          type: string
        routine:
          type: boolean
          default: false
        emoji_icon:
          type: string
        reward_points:
          type: integer

    UpdateTaskBoxItemRequest:
      type: object
      properties:
        summary:
          type: string
        routine:
          type: boolean
        emoji_icon:
          type: string
        reward_points:
          type: integer

    CreateChoreRequest:
      type: object
      required: [summary, start, category_ids]
      properties:
        summary:
          type: string
        start:
          type: string
          format: date
          description: Start date (YYYY-MM-DD)
        routine:
          type: boolean
          default: false
        category_ids:
          type: array
          items:
            type: string
          description: One or more category (profile) IDs; creates one chore per category
        emoji_icon:
          type: string
        reward_points:
          type: integer
        start_time:
          type: string
          description: Optional time (HH:MM)
        recurrence_set:
          type: string
          description: RRULE string (e.g. RRULE:FREQ=WEEKLY;INTERVAL=1;BYDAY=SA)
        recurring_until:
          type: string
          format: date
          description: End date for recurring chores (YYYY-MM-DD)

    UpdateChoreRequest:
      type: object
      properties:
        summary:
          type: string
        emoji_icon:
          type: string
        reward_points:
          type: integer
        start:
          type: string
          format: date
        recurrence_set:
          type: string
          nullable: true
        category_id:
          type: string
        routine:
          type: boolean
        up_for_grabs:
          type: boolean

    CompleteChoreRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [complete]

    MealRecipeAttributes:
      type: object
      properties:
        summary:
          type: string
        description:
          type: string
          nullable: true

    CreateMealRecipeRequest:
      type: object
      required: [meal_category_id, summary]
      properties:
        meal_category_id:
          type: string
        summary:
          type: string
        description:
          type: string
          nullable: true

    CreateMealSittingRequest:
      type: object
      required: [meal_category_id, date]
      properties:
        meal_recipe_id:
          type: string
          nullable: true
        meal_category_id:
          type: string
        add_to_grocery_list:
          type: boolean
          default: false
        date:
          type: string
          format: date
          description: Date of the sitting (YYYY-MM-DD)
        note:
          type: string
          nullable: true
        rrule:
          type: string
          nullable: true
        description:
          type: string
          nullable: true

    RewardPoint:
      type: object
      properties:
        category_id:
          type: string
        lifetime_points_earned:
          type: integer
        current_point_balance:
          type: integer

security:
  - BearerAuth: []

paths:
  /auth/session/new:
    get:
      summary: Fetch the login page and CSRF token
      security: []
      operationId: getLoginPage
      description: |
        Returns the HTML login page. Extract the CSRF token from the
        `<meta name="csrf-token" content="...">` tag and pass it as
        `authenticity_token` in the subsequent `POST /auth/session`.
      responses:
        '200':
          description: HTML login page containing CSRF token

  /auth/session:
    post:
      summary: Submit login credentials to start an OAuth session
      security: []
      operationId: createSession
      description: |
        Authenticates the user with email and password. On success, the server
        issues a 302 redirect to `/auth/session/success` and creates a session
        from which the web app obtains an authorization code to exchange at
        `POST /oauth/token`.

        The `authenticity_token` (CSRF token) must be fetched first from
        `GET /auth/session/new`.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [authenticity_token, email, password]
              properties:
                authenticity_token:
                  type: string
                  description: CSRF token from GET /auth/session/new (88-char base64url string)
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '302':
          description: Redirect to /auth/session/success on successful login
          headers:
            Location:
              schema:
                type: string
              description: Redirect target (/auth/session/success)
        '422':
          description: Invalid credentials or CSRF token

  /oauth/token:
    post:
      summary: Exchange authorization code for Bearer token
      security: []
      operationId: oauthToken
      description: |
        OAuth 2.0 token endpoint. Supports `authorization_code` and `refresh_token` grant types.

        **Authorization Code flow** (initial login):
        After the user authenticates at `POST /auth/session`, the app obtains an authorization
        code and exchanges it here for a Bearer token.

        **Refresh Token flow** (renew expired token):
        Post `grant_type=refresh_token&refresh_token=<token>&client_id=skylight-mobile`.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id]
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, refresh_token]
                client_id:
                  type: string
                  enum: [skylight-mobile]
                code:
                  type: string
                  description: Authorization code (required for authorization_code grant)
                refresh_token:
                  type: string
                  description: Refresh token (required for refresh_token grant)
                redirect_uri:
                  type: string
                  description: Must match the URI used to obtain the code
                scope:
                  type: string
                  default: everything
                skylight_api_client_device_fingerprint:
                  type: string
                  description: UUID identifying this client device
                skylight_api_client_device_platform:
                  type: string
                  example: web
                skylight_api_client_device_name:
                  type: string
                skylight_api_client_device_os_version:
                  type: string
                skylight_api_client_device_app_version:
                  type: string
                skylight_api_client_device_hardware:
                  type: string
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          description: Invalid grant or unsupported grant type

  /api/user:
    get:
      summary: Get the authenticated user's profile
      operationId: getUser
      responses:
        '200':
          description: User profile (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'

  /api/plus_access:
    get:
      summary: Get the authenticated user's Plus subscription access
      operationId: getPlusAccess
      responses:
        '200':
          description: Plus access details (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'

  /api/frames:
    get:
      summary: List all frames the user has access to
      operationId: listFrames
      responses:
        '200':
          description: All frames (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/calendar:
    get:
      summary: List calendar-type frames
      operationId: listCalendarFrames
      responses:
        '200':
          description: Calendar frames (JSON:API, type=approved_viewer_frame)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/photo:
    get:
      summary: List photo-type frames
      operationId: listPhotoFrames
      responses:
        '200':
          description: Photo frames (JSON:API, type=approved_viewer_frame)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/tv:
    get:
      summary: List TV-type frames
      operationId: listTvFrames
      responses:
        '200':
          description: TV frames (JSON:API, type=approved_viewer_frame)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}:
    get:
      summary: Get a single frame
      operationId: getFrame
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Frame (JSON:API, type=approved_viewer_frame)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'

  /api/frames/{frameId}/devices:
    get:
      summary: List physical devices attached to a frame
      operationId: listDevices
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Devices (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}/source_calendars:
    get:
      summary: List calendar sources connected to a frame
      operationId: listSourceCalendars
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Source calendars (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}/calendar_events:
    get:
      summary: List calendar events for a frame in a date range
      operationId: listCalendarEvents
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: date_min
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date (YYYY-MM-DD)
        - name: date_max
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date (YYYY-MM-DD)
        - name: timezone
          in: query
          schema:
            type: string
          description: IANA timezone name (e.g. America/New_York)
        - name: include
          in: query
          schema:
            type: string
          description: Comma-separated related resources to sideload
      responses:
        '200':
          description: Calendar events (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}/categories:
    get:
      summary: List family member profile categories
      operationId: listCategories
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Categories (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}/rewards:
    get:
      summary: List reward catalog items for a frame
      operationId: listRewards
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Rewards (JSON:API, type=reward)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}/reward_points:
    get:
      summary: Get reward point balances per category
      operationId: getRewardPoints
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Reward points (plain array, not JSON:API)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RewardPoint'

  /api/frames/{frameId}/lists:
    get:
      summary: List all grocery/shopping lists for a frame
      operationId: listLists
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lists (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}/lists/{listId}/list_items:
    get:
      summary: List all items in a list
      operationId: listItems
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: listId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List items (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'
    post:
      summary: Create a new list item
      operationId: createListItem
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: listId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListItemRequest'
      responses:
        '201':
          description: Created list item (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'

  /api/frames/{frameId}/lists/{listId}/list_items/{itemId}:
    patch:
      summary: Update a list item
      operationId: updateListItem
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: listId
          in: path
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateListItemRequest'
      responses:
        '200':
          description: Updated list item (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'

  /api/frames/{frameId}/lists/{listId}/list_items/bulk_destroy:
    delete:
      summary: Bulk delete list items (only working deletion method)
      operationId: deleteListItems
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: listId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDestroyRequest'
      responses:
        '200':
          description: Items deleted successfully

  /api/frames/{frameId}/task_box/items:
    get:
      summary: List task box items
      operationId: listTaskBoxItems
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Task box items (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'
    post:
      summary: Create a task box item
      operationId: createTaskBoxItem
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskBoxItemRequest'
      responses:
        '201':
          description: Created task box item (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'

  /api/frames/{frameId}/task_box/items/{itemId}:
    patch:
      summary: Update a task box item
      operationId: updateTaskBoxItem
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskBoxItemRequest'
      responses:
        '200':
          description: Updated task box item (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'
    delete:
      summary: Delete a task box item
      operationId: deleteTaskBoxItem
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted successfully

  /api/frames/{frameId}/chores:
    get:
      summary: List chores with optional date range and category filters
      operationId: listChores
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
            format: date
          description: Start date filter (YYYY-MM-DD)
        - name: before
          in: query
          schema:
            type: string
            format: date
          description: End date filter (YYYY-MM-DD)
        - name: include_late
          in: query
          schema:
            type: boolean
          description: Include overdue chores
        - name: category_id
          in: query
          schema:
            type: string
          description: Filter by profile/category ID
      responses:
        '200':
          description: Chores (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}/chores/create_multiple:
    post:
      summary: Create one or more chores (one per category_id)
      operationId: createChore
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChoreRequest'
      responses:
        '201':
          description: Created chores (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}/chores/{choreId}:
    put:
      summary: Update a chore (full object) or complete it
      operationId: updateChore
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: choreId
          in: path
          required: true
          schema:
            type: string
          description: |
            Non-recurring: numeric ID (e.g. 72279767).
            Recurring instance: composite ID (e.g. 72279767-2026-03-21).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/UpdateChoreRequest'
                - $ref: '#/components/schemas/CompleteChoreRequest'
      responses:
        '200':
          description: Updated chore (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'
    delete:
      summary: Delete a chore
      operationId: deleteChore
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: choreId
          in: path
          required: true
          schema:
            type: string
        - name: apply_to
          in: query
          schema:
            type: string
            enum: [one, all]
          description: Delete single instance (one) or entire series (all)
      responses:
        '200':
          description: Deleted successfully

  /api/frames/{frameId}/meals/categories:
    get:
      summary: List meal categories (Breakfast, Lunch, Dinner, Snack)
      operationId: listMealCategories
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Meal categories (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}/meals/recipes:
    get:
      summary: List meal recipes
      operationId: listMealRecipes
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: include
          in: query
          schema:
            type: string
          description: Include related resources (e.g. meal_category)
      responses:
        '200':
          description: Meal recipes (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'
    post:
      summary: Create a meal recipe
      operationId: createMealRecipe
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: include
          in: query
          schema:
            type: string
          description: Include related resources (e.g. meal_category)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMealRecipeRequest'
      responses:
        '201':
          description: Created meal recipe (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'

  /api/frames/{frameId}/meals/recipes/{recipeId}:
    get:
      summary: Get a single meal recipe
      operationId: getMealRecipe
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: recipeId
          in: path
          required: true
          schema:
            type: string
        - name: include
          in: query
          schema:
            type: string
          description: Include related resources (e.g. meal_category)
      responses:
        '200':
          description: Meal recipe (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'

  /api/frames/{frameId}/meals/recipes/{recipeId}/add_to_grocery_list:
    post:
      summary: Add recipe ingredients to grocery list
      operationId: addRecipeToGroceryList
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: recipeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recipe added to grocery list (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponse'

  /api/frames/{frameId}/meals/sittings:
    get:
      summary: List meal sittings in a date range
      operationId: listMealSittings
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: date_min
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date (YYYY-MM-DD)
        - name: date_max
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date (YYYY-MM-DD)
        - name: include
          in: query
          schema:
            type: string
          description: Include related resources (e.g. meal_category,meal_recipe)
      responses:
        '200':
          description: Meal sittings (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'
    post:
      summary: Create a meal sitting
      operationId: createMealSitting
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: date_min
          in: query
          schema:
            type: string
            format: date
        - name: date_max
          in: query
          schema:
            type: string
            format: date
        - name: include
          in: query
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMealSittingRequest'
      responses:
        '201':
          description: Created meal sitting (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'

  /api/frames/{frameId}/meals/sittings/{sittingId}/instances/{date}:
    delete:
      summary: Delete a meal sitting instance
      operationId: deleteMealSitting
      parameters:
        - name: frameId
          in: path
          required: true
          schema:
            type: string
        - name: sittingId
          in: path
          required: true
          schema:
            type: string
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
          description: Date of the instance to delete (YYYY-MM-DD)
        - name: date_min
          in: query
          schema:
            type: string
            format: date
        - name: date_max
          in: query
          schema:
            type: string
            format: date
        - name: include
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Sitting instance deleted (JSON:API)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiListResponse'
